@import '~uikit/src/scss/variables-theme.scss';
@import '~uikit/src/scss/mixins-theme.scss';
@import '~uikit/src/scss/uikit-theme.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700&display=swap');
@import 'vars';
@import 'utilities';

/*BEGIN BUILD STYLES */
body {
  font-family: 'Open Sans', sans-serif;
}

.page-wrapper {
  height: 100vh;
}
.page-wrapper:before {
  position: absolute;
  width: 100%;
  height: 60vh;
  background-color: #cccccc;
  content: "";
  background-image: url(../img/page-background.jpg);
  background-size: 100%;
  background-position: center top;
}
.page-contents {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  .signup-form {
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    &__side-left {
      background-color: $brand-color01;
      color: $white-color;
      border-radius: 8px 0 0 8px;
      background-image: url(../img/key-person.png);
      background-repeat: no-repeat;
      background-position: center calc(100% - 30px);
      h4 {
        color: $white-color;
      }
    }
    &__side-right {
      .uk-input, .uk-checkbox, .uk-button {
        border-radius: 4px;
      }
      .form-field {
        margin-top: 1.1rem;
      }
      .uk-checkbox {
        a {
          color: $brand-color01;
        }
      }
      .uk-button {
        background-color: $brand-color01;
      }
      .text-small {
        font-size: 0.7rem;
      }
      .required {
        color: $brand-color01;
        font-size: 0.8rem;
      }
      .ng-invalid-required.ng-touched, .ng-invalid.ng-not-empty.ng-invalid-email, {
        border-color: $brand-color01;
      }
      .ng-valid-required.ng-touched {
        x-border-color: #78FA89;
      }
      .form__error-message {
        font-size: 0.8rem;
        font-weight: bold;
      }
    }
  }
}

/*IMPORT CUSTOM RESPONSIVE STYLES*/
@import 'responsive';